<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">           
      <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/navbar-static-top.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.dataTables.css" />
    
    <script src="/javascripts/jquery.js"></script>    
    <script src="/javascripts/jquery.dataTables.js"></script>  
    <script src="/javascripts/json2.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="javascripts/binary.js"></script>
    <script src="javascripts/def/recorder_upload_audio.js"></script>
    <script src="javascripts/def/recorder_upload_funs.js"></script>
    <script src="javascripts/def/recorder_download_audiorecorder.js"></script>
    <script type="text/javascript">
    	var g_data = null;
    	
    	 $(document).ready(function() {    
                var g_data= <%- JSON.stringify(locals.data)%>;
                console.log(g_data[0].Id);   
                var o1 = '<%- locals.data %>';    
                var s01 = JSON.stringify(o1);   
                var s02 = '<%- JSON.stringify(locals.data)%>';     
                $('#div_json1').text(s01);    
                $('#div_json2').text(s02);     
    
                $('#MsgBox_Container').html('<table cellpadding="0" cellspacing="0" with="100%" class="display" id="MsgBox"><thead><th>UserName</th><th>Details</th><th>SendTime</th></thead></table>');    
                $('#MsgBox').dataTable({    
                    "aaData" : g_data,
                    responsive: true,    
                    "aoColumns" : [{
                    	"orderable" : true,
                        "mData" : "UserName"    
                    }, {
                    	
                        "mData" : "Details"    
                    },{
                    	"orderable" : true,
                    	"mData" : "SendTime"
                    }]    
                });    
            });

        $(function () {
          $('#index_tab li:eq(0) a').tab('show');
       });
    </script>   
  </head>
  <body>
      <% include header.html %>
       <ul id="index_tab" class="nav nav-tabs">
            <li class="active"><a href="#messages_container" data-toggle="tab">Messages</a></li>
            <li><a href="#voices_container" data-toggle="tab">Audios</a></li>
       </ul>

       <div id="index_tab_content" class="tab-content">
            <div class="tab-pane fade in active" id="messages_container">
                <div id="MsgBox_Container"></div>
                <% include MsgInputForm.html %>
            </div>
            <div class="tab-pane fade" id="voices_container">
                <div  id="user_audio_list_field_player">            
                  <audio id='audio_player'></audio>
                  <div>Select a Link</div>          
                </div>
                <div id="user_audio_list_field_list">        
                    <div id="user_audio_list"></div>
                </div>
            </div>
       </div>
       
       
      
  </body>
  <script src="javascripts/def/recorder_download_audiodisplayer.js"></script>
</html>